useDynLib(groHMM)
import(MASS, BiocGenerics, S4Vectors, IRanges, GenomicRanges, GenomicAlignments, rtracklayer, parallel)
export(writeWiggle, detectTranscripts, makeConsensusAnnotations, 
    evaluateHMMInAnnotations, windowAnalysis, breakTranscriptsOnGenes, 
    combineTranscripts, getTxDensity, limitToXkb, runMetaGene, metaGene, 
    pausingIndex, polymeraseWave, getCores)
