useDynLib(groHMM, .registration = TRUE)
import(
    "MASS", "BiocParallel", "S4Vectors", "IRanges", "GenomeInfoDb",
    "GenomicRanges", "GenomicAlignments", "rtracklayer")
importFrom("grDevices", "rgb")
importFrom(
    "graphics", "abline", "axis", "par", "plot.new", "plot.window", "rect",
    "text", "title")
importFrom("methods", "is", "as")
importFrom("parallel", "mclapply")
importFrom(
    "stats", "fisher.test", "loess", "ppois", "predict", "qnorm", "smooth")
importFrom("utils", "read.table")
export(
    detectTranscripts, makeConsensusAnnotations, evaluateHMMInAnnotations,
    windowAnalysis, breakTranscriptsOnGenes, combineTranscripts, getTxDensity,
    limitToXkb, runMetaGene, metaGene, pausingIndex, polymeraseWave, getCores,
    expressedGenes)
